<div class="container">
    <div class="row">
        <div class="mx-auto" style="width: 300px; margin-top: 100px;">
            <div class="card bg-white" style="width: 18rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Hello! the page was created on 18/10/2022</p>
                    <p class="card-text">By: Notflay </p>
                    <a href="/" class="btn btn-primary">Back to characters</a>
                </div>
            </div>
        </div>
    </div>
</div>