<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-white p-4 text-black rounded-0 m-4">
                <h1>Update a character</h1>
                {{> html/updatecharc}}
            </div>
        </div>
    </div>
</div>