<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> html/createc}}
        </div>
        <div class="col-md-5" id="column-characts">
            {{> html/chrctrs}}
        </div>
    </div>
</div>