body{
    background-color: rgba(239,239,239,255);
    background-image: linear-gradient(45deg, transparent 20%, rgba(0, 0, 0, 0.085) 25%, transparent 25%), 
    linear-gradient(-45deg, transparent 20%, rgba(0, 0, 0, 0.085) 25%, transparent 25%), 
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.085) 80%, transparent 0),
    radial-gradient(rgba(239,239,239,255) 2px, transparent 0);
background-size: 30px 30px, 30px 30px;
}

.col-md-5 {
    width: 35%;
}

.navbar {
    background-color: rgba(82,82,82,255);
}

.card {
    border-color: None;
    background-color: rgba(82,82,82,255);
    box-shadow: rgba(0, 0, 0, 0.649);
    color: white;
}

#btn-delete {
    width: 30%;
    margin-left: 20px;
}

.btn-primary{
    background-color: rgba(235, 60, 60, 0.986);
    border: 0;
    --bs-btn-active-bg: black;
    width: 50%;
    margin-left: 70px;
}

.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0.649);
    border: 0;
}


.form-check-input:checked {
    background-color: rgba(235, 60, 60, 0.986);
    border: 0;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border: solid rgba(3, 3, 46, 0.144);
}

.list-group-item {
    background-color: None;
}

.form-control[type="file"]{
    display: none;
}

#label-file {
    text-align:center;
    padding:3%;
    border:thin solid #86868B;
}
#label-file .form-label {
    cursor: pointer;
}

.form-control[type="number"]{
    -moz-appearance: textfield;
}

a, a:hover {
    text-decoration: None;
    color: white;
}


#column-characts {
    width: 65%;
}

.img-fluid {
    height: 135;
}

.card-mb-3 {
    width: auto;
}

.card-mb-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blockquote {
    color: rgba(235, 60, 60, 0.986);
    font-size: 2rem;
}
.blockquote-footer{ 
    color: white;
    font-size: 1rem;
}