<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="/images/297806.png" alt="10" width="45">
        </a>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Choose your character for the battle</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                For the blattle... <cite title="Source Title">character</cite>
            </figcaption>
        </figure>


        <a class="navbar-brand mb-0 h1 text-white" href="/about">
            About
        </a>
    </div>
</nav>